html {
  box-sizing: border-box;
  font-family: Georgia;
  margin: 0 0 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  text-decoration: none;
  color: #512200;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

body {
  line-height: 1.5;
  background-color: #f0eee8;
}

main {
  padding: .4em .75em .5em;
  border: 3px solid #9a816d;
  border-radius: 6px;
  background-color: #dcd4cd;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

dl {
  font-size: .875rem;
}

.btn {
  font-size: 1.125rem;
  padding: 1em;
  background-color: #785439;
  color: #f0eee8;
  font-family: Dosis, sans-serif;
  border-radius: 8px;
}

.link-card:hover .btn {
  background-color: #512200;
}
