html {
  box-sizing: border-box;
  font-family: Georgia;
  margin: 0 0 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  text-decoration: none;
  color: #512200;
  padding: 1rem;
  border: 3px solid #9a816d;
  border-radius: 6px;
  background-color: #dcd4cd;
  margin: 0;
  display: inline-block;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0;
}

body {
  line-height: 1.5;
  background-color: #f0eee8;
  display: block;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0;
}

dl {
  font-size: .875rem;
  display: block;
  margin: 0 0 1rem;
}

dt {
  display: block;
  padding-right: 10px;
  float: left;
  clear: left;
}

dd {
  font-style: italic;
  display: block;
  margin: 0;
  float: right;
  text-align: left;

}

div {
  text-align: center;
}

.btn {
  font-size: 1.125rem;
  padding: .4em .75em .5em;
  background-color: #785439;
  color: #f0eee8;
  font-family: Dosis, sans-serif;
  border-radius: 8px;
  clear: both;
}

.btn-wrap {
  display: inline-block;
  text-align: center;

}

.link-card:hover .btn {
  background-color: #512200;
}
